<div class="row panel-body">
  <div class="col-md-6 col-sm-6 col-lg-6  col-lg-offset-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="onSearch()">Go!</button>
      </span>
    </div>
  </div>
</div>

<div class="row col-lg-12 ">
<div *ngFor="let product of products" class="col-lg-4">
  <!--<div class="col-lg-1">-->
    <!--&lt;!&ndash;blank&ndash;&gt;-->
  <!--</div>-->
  <div class="panel panel-primary col-lg-12">
    <div class="page-header">
      <h2 class="panel-title">{{product.productName}}</h2>
    </div>
    <div class="panel-body">
      <div>
        <div>
        <img class="img-responsive" [src]="product.image" [title] = "product.productName">
        </div>
        <div>
        <p>description: {{product.description}}</p>
        <p>Price: {{product.price}}</p>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-xs col-md-4" (click)="addToCart(product)">Add</button>
      <button type="button" class="btn btn-primary btn-xs col-md-4" (click)="showDetail(product)">Detail</button>
    </div>
  </div>
</div>
</div>

