
<div class="row panel-body" style="padding-top: 60px;">
  <div class="col-md-6 col-sm-6 col-lg-6  col-lg-offset-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="onSearch()">Go!</button>
      </span>
    </div>
  </div>
</div>

<div class="row col-lg-12 " style="margin-left: 4px;">
<div *ngFor="let product of products"   class="col-lg-4">
  <div *ngIf="product.show == true">
  <!--<div class="col-lg-1">-->
    <!--&lt;!&ndash;blank&ndash;&gt;-->
  <!--</div>-->


  <div class="panel col-lg-12"  style="border-width: 3px; border-color:#000000;">
    <div class="page-header">
      <p class="panel-title">{{product.productName}}</p>
    </div>
    <div class="panel-body">
      <div>
        <div class="dropdown">

        <img class="img-responsive"  [src]="product.image" [title] = "product.productName" >
          <!--<div class="dropdown-content">-->
            <!--<img class="img-responsive1"  [src]="product.image" [title] = "product.productName" >-->


          <!--</div>-->
        <div class="desMargin" >
        <p>description: {{product.description}}</p>
        <p class="description">Price: {{product.price}}</p>
        </div>
      </div>
        <div class="bun">
      <button  class="button button1" (click)="addToCart(product)"><p class="a">Add</p></button>
      <button  class="button button1" (click)="showDetail(product)"><p class="a">Detail</p></button>
    </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


