.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/production/classes/META-INF/spring-configuration-metadata_BACKUP_11696.json
out/production/classes/META-INF/spring-configuration-metadata_REMOTE_11696.json
out/production/classes/META-INF/spring-configuration-metadata_LOCAL_11696.json
out/production/classes/META-INF/spring-configuration-metadata_BASE_11696.json
out/production/classes/META-INF/spring-configuration-metadata.json
