<div class="holder_wrap" style="position:relative;" >
  	<div class="holder_wrap_img">

  		<img src="D:/CompoFinalProject.git/ng-app/src/app/image/login8.png" alt="Smiley face" >
  		</div>

  	<div class="top" style="width: 100%;">
  	<form action="/action_page.php">
  <div class="container1" style="width: 100%;">
  	<div class="Linetop">
  	<h1> WARM WARM
  	<button onclick="window.location.href='file:///D:/CompoFinalProject.git/ng-app/src/app/login/login/login.component.html'" class="button button2"><a>LOG IN</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
  	</h1>
  	</div>
  </div>
  <div class="head">
  <div class="bg">
  <div class="container">
  	<div class="magin">
  		<p class="Welcome">Register</p>
  	<div class="box1">
    <input type="text" placeholder="FIRST NAME" name="uname" required><br />
    </div>
    <div class="box2">
    <input type="password" placeholder="LAST NAME " name="psw" required><br />
    </div>
     <div class="box2">
    <input type="password" placeholder="E-MAIL " name="psw" required><br />
    </div>
     <div class="box2">
    <input type="password" placeholder="PASSWORD " name="psw" required><br />
    </div>
     <div class="box2">
    <input type="password" placeholder="VERITY PASSWORD " name="psw" required><br />
    </div>
   <div class="Rem">
    <input type="checkbox" checked="checked"> Acceptance agreement&nbsp;&nbsp;&nbsp;&nbsp;<br />



    </div>

    <div class="button">
    <button class="button button1" value="Submit" >SIGN UP</button>&nbsp;&nbsp;&nbsp;&nbsp;

	</div>

    </div>
  </div>
  </div>
  </div>
  <div class="container2">

  </div>


	</form>
</div>
</div>
