<!doctype html>


<html lang="en">





  <head>
  	 <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="register.component.css">

    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="login.component.css">
  </head>
  
  <body >
  	<div class="holder_wrap" style="position:relative; >
  	<div class="holder_wrap_img ">
  		
  		<img src="D:/CompoFinalProject.git/ng-app/src/app/image/login8.png" alt="Smiley face" > 
  		</div>
  	
  	<div class="top" style="width: 100%;">
  	<form action="/action_page.php">
  <div class="container1" style="width: 100%;">
  	<div class="Linetop">
  	<h1> WARM WARM
  	<button onclick="window.location.href='file:///D:/CompoFinalProject.git/ng-app/src/app/login/login/login.component.html'" class="button button2"><a>LOG IN</a></button>&nbsp;&nbsp;&nbsp;&nbsp;
  	</h1>
  	</div>
  </div>
  <div class="head">
  <div class="bg">
  <div class="container">
  	<div class="magin">
  		<p class="Welcome">Register</p>
  	<div class="box1">
    <input type="text" placeholder="FIRST NAME" name="uname" required><br />
    </div>
    <div class="box2">
    <input type="password" placeholder="LAST NAME " name="psw" required><br />
    </div>
     <div class="box2">
    <input type="password" placeholder="E-MAIL " name="psw" required><br />
    </div>
     <div class="box2">
    <input type="password" placeholder="PASSWORD " name="psw" required><br />
    </div>
     <div class="box2">
    <input type="password" placeholder="VERITY PASSWORD " name="psw" required><br />
    </div>
   <div class="Rem">
    <input type="checkbox" checked="checked"> Acceptance agreement&nbsp;&nbsp;&nbsp;&nbsp;<br />
  
    
   
    </div>

    <div class="button">
    <button class="button button1" value="Submit" >SIGN UP</button>&nbsp;&nbsp;&nbsp;&nbsp;	
    
	</div>
	
    </div>
  </div>
  </div>
  </div>
  <div class="container2">
  	
  </div>
  </div>
  </div>
  </div>
	</form>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>