<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-lg-7 col align-self-center" style="position:static;" >

<div class="row top" style="position: static;">
  <div class="col-lg-7 col align-self-center" style="padding: 0%;">

    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>


  <div class="col-sm-12 col-md-12 col-lg-12" style="position:relative;">

  <div class="col-sm-12 col-md-12 col-lg-12" >

    <app-main-menu></app-main-menu>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <router-outlet></router-outlet>
  </div>
</div>


