    html::-webkit-scrollbar {
    display: none;
    }
		div.back{
			left: 0px;
		}
		div.holder_wrap_img{
			position:absolute;
			top:0px;
			left:0px;
			z-index:100;
		}

		div.top{
			position:absolute;
			top:0px;
			left:0px;
			z-index:100;

		}
    .holder_wrap{
    top:0px;
    }


    .holder_wrap_img{
      width: auto;
    	border:none;


    }
		div.Linetop{
			margin-left: 20px;
		}

		img {
			max-width:100%;

			border:none;


    		opacity: 0.5;
   			filter: alpha(opacity=40); /* For IE8 and earlier */
   			object-fit: cover;
		}


		div.container {

		    position: relative;
		    width: 100%;


		}
		div.container1{
			 position: relative;
			background-color: #000000;
			position: relative;
			position: absolute;
		    top: 0px;
		    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);

		    font-size: 18px;
		    color: #FFFFFF;
		    opacity: 0.6;
   			filter: alpha(opacity=40);
   			overflow: auto;
		}
		div.head{
			margin-top: 10px;

		}



		div.button {
			border-radius: 1px;
		    margin-left: 20px;
		    margin-top: 5px;



		}
		.button1{
			background-color: #696969; /* Green */
	    	border: none;

	    	width: 255px;


    		color: #FFFFFF;
    		border: 2px solid #696969;
    		box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);
    		opacity: 1.0;
   			filter: alpha(opacity=40);

		}
		.button2{
			float: left;
    		border: 1px solid green;
			 position: absolute;
			 right: 0px;
			 font-size: 18px;
			 width: 100px;
			 height: 55px;
			 background-color: #000000;
			 border-color: #000000;
			 box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 5px 5px 0 rgba(0,0,0,0.19);
			 color: #FFFFFF;
		}

		input{
			filter: alpha(opacity=40);
    		padding: 5px 40px;
    		text-align: center;

		}


		div.bg{



			width: 100%;
			height: 100%;

		}



		p.Welcome{


			font-size: 50px;
			color: #696969;
			font-family: Agency FB;

		}

		div.box1{


			margin-top: 10px;
			opacity: 0.6;
   			filter: alpha(opacity=40);
   			color: #696969;



		}
		div.box2{


			margin-top: 10px;
			opacity: 0.6;
   			filter: alpha(opacity=40);
   			color: #696969;





		}
		div.Rem{


   			color: #696969;
		}
		div.magin{
			margin-top: 140px;
			text-align: center;


		}
		.col-md-auto{


		}
		#video-background{
		max-width:100%;
    border:none;
    object-fit: cover;
    height: 800px;
		}
		.panel{
		width:1600px;
		margin-right:0px;
		top:0px;
		margin-button:0px;
		position : relative;
		}




