


<div class="holder_wrap" style="position:relative;" >
  	<div class="col-md-auto" >

<img src="http://coolwallpaperz.info/user-content/uploads/wall/o/79/abstract-women-http-www-market-com-jpg-585496.jpg" alt="Smiley face" style="width: 100%; height: 100%;">
</div>

<div class="top" style="width: 100%;">
  <form action="/action_page.php">

    <div class="head" style="width: 100%;">
      <div class="bg" >
        <div class="container">
          <div class="magin">

            <p class="Welcome">LOGIN</p>
            <div class="box1">
              <input type="text" placeholder="USERNAME" name="uname" required><br />
            </div>
            <div class="box2">
              <input type="password" placeholder="PASSWORD " name="psw" required><br />
            </div>


            <div class="button">
              <button class="button button1" value="Submit" >SIGN IN</button>&nbsp;&nbsp;&nbsp;&nbsp;

            </div>
            <div class="Rem">
              <input type="checkbox" checked="checked"> Remember me&nbsp;&nbsp;&nbsp;&nbsp;


              <span class="psw"> <a href="#">Forgot password?</a></span>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container2">

    </div>
</form>
</div>
</div>
