

<div class="row col-lg-12 center-pill">
  <div *ngFor="let product of products" class="col-lg-4">
    <!--<div class="col-lg-1">-->
    <!--&lt;!&ndash;blank&ndash;&gt;-->
    <!--</div>-->


    <div class="panel   col-lg-12"  style="border-width: 3px; border-color:#000000;">
      <div class="page-header">
        <p class="panel-title">{{product.productName}}</p>
        <div class="buttonEdit">
        <button  class="button button1" (click)="addToCart(product) " onclick="myFunction()"><p class="a">Edit</p></button>

        </div>
      </div>
      <div class="panel-body">
        <div>
          <div>
            <img class="img-responsive"  [src]="product.image" [title] = "product.productName">

          </div>
          <div>
            <p>description: {{product.description}}</p>
            <p>Price: {{product.price}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


