<div class="container" style="top: 80px;">
<div class="row col-lg-12 center-pill" >
  <div *ngFor="let product of products" class="col-lg-3">
    <!--<div class="col-lg-1">-->
    <!--&lt;!&ndash;blank&ndash;&gt;-->
    <!--</div>-->


    <div class="panel   col-lg-12" *ngIf="product.show == true"  style="border-width: 3px; border-color:#000000; height: 350px;">
      <div class="page-header">
        <p class="panel-title">{{product.productName}}</p>
        <div class="buttonEdit">
          <button  class="button button1" (click)="showEditDetail(product)"><p class="a">Edit</p></button>

        </div>
      </div>
      <div class="panel-body">
        <div>
          <div class="dropdown">
            <img class="img-responsive"  [src]="product.image" [title] = "product.productName">
            <div class="dropdown-content">
            <img class="img-responsive1"  [src]="product.image" [title] = "product.productName"  >
              <div class="textDes">
              <p >{{product.description}}</p>
              <p>Price: {{product.price}}</p>
              </div>


            </div>

          </div>
          <div>
            <p>description: {{product.description}}</p>
            <p>Price: {{product.price}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>


