<div class="container">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" routerLinkActive="active"><a routerLink="/product">Product</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/cart">Cart</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/add_product">Add product</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/edit_product">Edit product</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/delete_product">Delete product</a>
    </li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/view_transaction">View
      transaction</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/add_user">Add shopkeeper</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="/delete_user">Delete user</a></li>
  </ul>
</div>
