
<div class="row panel-body" style="padding-top: 60px;">
  <div class="col-md-6 col-sm-6 col-lg-6  col-lg-offset-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="onSearch()">Go!</button>
      </span>
    </div>
  </div>
</div>
<div class="w3-container">
  <h2>View Transaction</h2>
  <p>Type/Date</p>

  <table class="w3-table-all" >
    <thead>
    <tr class="w3-red"  >
      <th style="width:450px;">Payment type</th>
      <th>Transaction ID</th>
      <th>Date</th>
      <th>Detail</th>
    </tr>
    </thead>
    <tr  *ngFor="let transaction of transactions">
      <td>{{transaction.id}}</td>
      <td >{{transaction.typeOfPayment}}</td>
      <td style="width: 200px;">{{transaction.date}}</td>
      <button  class="button button1" (click)="showDetail(transaction)"><p class="a">Detail</p></button>
    </tr>

  </table>
</div>



